h1 {
    color: red;
}/*
h1:hover {
     color: rgb(84, 224, 18);
     font-size: 10px;
}*/
h1:active {
     color: blue;
     font-style: italic;
}
input:focus {
      background-color: green;
      border: 5px solid rgb(190, 13, 43);
}
a:link {
    color: red;
}
a:visited {
    color: green;
}
